{% extends 'base.html' %}
{% load static %}

{% block title %}{{ article.title }} - News Portal{% endblock %}

{% block content %}
    <article>
        <h1>{{ article.title }}</h1>
        <p class="meta">{{ article.published_at|date:"d/m/Y" }} | {{ article.author.name }}</p>
        {% if article.image %}
            <img src="{{ article.image.url }}" alt="{{ article.title }}" class="article-image">
        {% endif %}
        <div class="article-content">{{ article.content }}</div>
        {% if article.categories.all %}
            <p>Categories:
                {% for category in article.categories.all %}
                    <a href="{% url 'news:category_detail' category.pk %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    </article>
{% endblock %}
